.container{
    width: 100%;
    height: 14vh;
    background-color: #f6f8fa;
    border-bottom: 1px solid #d8dee4;
    padding: 10px 30px;
    position: relative;
  }

  .upper-container{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .left{
    width:25%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }

  .right{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .a-link{
    color: #0969da;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.lower-container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .lower-container-mobile{
    display: none;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .sub-section{
    padding: 6px;
    margin-top: 5px;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
  }

  .sub-section-list{
    border: none;
    background: transparent;
    font-size: 14px;
  }

  #selected{
    position: absolute;
    bottom: 0;
    padding-bottom: 17px;
    border-bottom: 2px solid #e87b41;
    display: inline-block;
    
  }

  #side{
    margin-left: 80px;
  }

  @media (max-width: 600px) {
    .left{
        width: 100%;
      }
    .right {
        display: none;
      }
    .sub-section{
        display: inline-block;
        padding: 6px;
      }
      .lower-container{
        display: none;
      }
      .lower-container-mobile{
        display: flex;
        position: absolute;
        bottom: 0;
      }
     #selected-lower{
      bottom: 0;
      padding-bottom: 5px;
      border-bottom: 2px solid #e87b41;
     }
     .sub-section-lower{
      bottom: 0;
      margin: 0 15px;
      background-color: transparent;
      text-align: center;
      cursor: pointer;
     }
     .sub-section-list-lower{
      border: none;
      background: transparent;
      font-size: 14px;
     }
  }